<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery">
      <services>
          <register serviceType="Sitecore.XA.Foundation.Multisite.Services.IPushCloneService, Sitecore.XA.Foundation.Multisite" >
              <patch:attribute name="implementationType">Sitecore.Support.XA.Foundation.Multisite.Services.PushCloneService, Sitecore.Support.409554</patch:attribute>
          </register>
      </services>
  </sitecore>
</configuration>